/**
 * Use @font-face to set up our Google Fonts for Chrome.
 */

/**
 * Typecast font styles
 * @see http://typecast.com/
 */
body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 87.5%; /* Base font size: 14px */
	line-height: 100%; /* Base line height: 16px */
	color: rgba(96, 96, 96, 1); /* Base font color: #606060 */
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.57em;
}
h3 {
	font-size: 1.43em;
}
h4 {
	font-size: 1.29em;
}
h5 {
	font-size: 1.14em;
}
h6 {
	font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1em;
	margin-bottom: 0.8em;
}
h1#header-title {
	font-size: 2em;
	line-height: 2.313em;
}
h1#page-title {
	font-size: 3.25em;
	line-height: 1em;
	margin: 0.3em 0;
}
h3.fieldset-source {
	font-size: 1.375em;
	line-height: 1.1em;
	margin: 0;
}
p {
	line-height: 1.6em;
	margin-bottom: 1.8em;
}
p.fieldset-source-file {
	margin: 0;
}
a {
	color: rgba(6, 120, 190, 1); /* Base anchor color: #0678be */
	line-height: 1.6em;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
blockquote {
	font-size: 2em;
	color: rgba(140, 138, 138, 1.00); /* Base blockquote color: #8c8a8a */
	line-height: 1.6em;
	margin: 0.8em 0;
	text-align: left;
	text-indent: 1em;
}
.geshifilter pre {
	font-size: 1.3em;
	word-wrap: break-word;
}
.submitted {
	font-size: 1.1em;
}
