/**
 * Import our custom font styles. We used Typecast to create our font css.
 * @see http://typecast.com/
 */

/**
 * HTML Basic Elements
 */
html {
  overflow-y: scroll;
}
body {
   background-color: rgba(255, 255, 255, 1);
}
html,
body {
  margin: 0;
  padding: 0;
}
a {}
li {
	margin-bottom: .5em;
}
input,
select,
textarea {
  margin: 0 2px 6px;
  color: rgba(68, 68, 68, 1);
  border: 1px solid rgba(217, 217, 217, 1) !important;
  border-top: 1px solid rgba(192, 192, 192, 1) !important;
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-radius: 2px;
    -webkit-border-radius: 2px;
}
input:focus,
select:focus,
textarea:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(77, 144, 254, 1) !important;
  outline: 0;
}
details,
figcaption,
figure,
summary {
  display: block;
}
ul {
  list-style: none;
  list-style-image: none;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
ul.menu li {
  margin: 0 0 0 1em;
  padding: 0;
}
ul.primary {
  margin: 1em 0;
  padding: 0;
}
ul.primary li a {
	padding: 0.2em 1em;
}
ul.primary li a:hover {
  color: rgba(51, 51, 51, 1);
  text-decoration: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  display: block;
  padding: 4px 6px;
  float: left;
  margin: 9px 12px 7px 0;
  background-color: rgba(245, 245, 245, 1);
  background-image: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(241, 241, 241, 1));
  background-image: linear-gradient(top, rgba(245, 245, 245, 1), rgba(241, 241, 241, 1));
  color: #444;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
  	-webkit-box-shadow: none;
  border-radius: 2px;
  	-webkit-border-radius: 2px;
  	-webkit-appearance: button;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: rgba(229, 229, 229, 1);
  background-image: -webkit-linear-gradient(top, rgba(229, 229, 229, 1), rgba(225, 225, 225, 1));
  background-image: linear-gradient(top, rgba(229, 229, 229, 1), rgba(225, 225, 225, 1));
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/**
 * Coeus Page Styles
 *
 * List of elements defined in our page template file.
 * @see page.tpl.php
 */
#page-container {
}
#top-nav {
  height: 45px;
  width: 100%;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  background-color: #f1f1f1;
}
#branding {
  display: block;
  height: 100%;
}
#logo-figure {
  margin: 0;
  height: 100%;
}
#logo-figure a {
  display: block;
  height: 100%;
}
#logo-figure img {
  margin: 8px 8px 8px 0;
}
#navbar {
}
#navbar ul {
  height: 45px;
  margin: 0;
  padding: 0;
}
#navbar ul li {
  display: inline;
  float: left;
  margin-bottom: 0;
  list-style: none;
}
#navbar ul li:hover {
  background-color: rgba(241, 241, 241, 1);
  cursor: pointer;
}
#navbar ul li a {
  display: block;
  line-height: 45px;
  padding: 0 10px;
}
#main-nav {
  float: left;
}
#main-menu {
}
#secondary-nav {
  float: right;
}
#secondary-menu {
}
#page-header {
  min-height: 50px;
}
#page-title-search {
	margin: 1em 0;
	width: 100%;
}
#search-block-wrapper {
}
#page-title-hr {
	margin: 0;
	clear: both;
}
#breadcrumb-wrapper {
	width: 100%;
	margin: 0;
}
#breadcrumb {
  padding-top: 1em;
}
#content-section {
}
#tabs {
}
#content {
  margin-top: 1em;
}
#page-content {
}
#sidebar {
	float: right;
}
#footer {
  width: 100%;
}
#footer-section {
  padding: 1em 0;
}
#search-block-form .form-item {
	float: left;
	margin: 0;
}
#search-block-form .form-item input {
	margin: 0;
	padding: 4px 4px;
}
#search-block-form .form-actions {
	margin: 0;
}
#search-block-form .form-actions input {
	margin: 0;
  float: right;
}
.text-format-wrapper .form-item,
.text-format-wrapper .form-actions {
  margin-top: 0;
}
ul.tips {
  margin-left: 2em;
  list-style: disc;
}

/**
 * Aside Styles
 */
aside ul {
  margin: 0;
  padding: 0;
}
aside ul.menu {
  padding: 0 0 0.25em 1em;
}

/**
 * Region styles
 */
.region-footer {
  padding: 1em 0;
}
.region-sidebar {
  padding: 1em;
  border: 1px solid rgba(187, 187, 187, 1);
  background-color: rgba(251, 251, 251, 1);
}
.region-sidebar h2 {
  margin-top: 0;
  margin-bottom: .5em;
}

/**
 * Views Styles
 */
.view-display-id-default {
  padding: 6px;
}
.views-table {
  width: 100.0%;
}
.view-header #header-title {
	margin: 0;
}
.views-row {
	margin: 1em 0 0 !important;
	padding: 0 0 1em !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.views-ui-dialog .form-buttons {
  background-color: transparent;
  padding: 5px 13px;
  min-height: 45px;
}
.views-table thead tr {
  background-color: rgba(68, 68, 68, 1);
  border: 1px solid rgba(68, 68, 68, 1);
  color: rgba(221, 221, 221, 1);
}
.views-table thead th {
  width: 33%;
  text-align: center;
  border: 1px solid rgba(153, 153, 153, 1);
  border-bottom: 3px solid rgba(187, 187, 187, 1);
}
  

/**
 * Book Styles
 */
.book-navigation {
  margin-bottom: 1.385em;
}
.book-navigation .menu {
  padding: 1em 0 0 1em;
}
label .form-required {
  font-weight: normal;
}

/**
 * Fieldset Styles
 */
fieldset.collapsible,
fieldset.collapsed {
	margin: 0 0 1em;
	padding: 0;
	border: none;
}
fieldset .prettyprinted {
	max-width: 680px;
	margin-top: 0;
}
.fieldset-legend {
  margin-top: 0;
}
.fieldset-legend:hover {
  text-decoration: none;
}
a.fieldset-title {
	color: rgba(68, 68, 68, 1);
}
a.fieldset-title:hover {
	color: rgba(68, 68, 68, 1);
	text-decoration: none;
}

/**
 * Admin Pages Styles
 */
.page-admin .container_12 {
  width: 95%;
}
.page-admin table {
  width: 100%;
}
.admin-operations .ctools-button-processed {
  background-color: transparent;
}
.admin-operations .ctools-button-processed .ctools-content ul {
  margin: 0;
  padding: 0;
}
table.system-status-report tr {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}
table.system-status-report tr.ok {
  color: rgba(37, 91, 30, 1);
  background-color: rgba(229, 255, 226, 1);
}
table.system-status-report tr.info {
  color: rgba(4, 15, 55, 1);
  background-color: rgba(189, 251, 223, 1);
}
table.system-status-report tr.warning {
  color: rgba(132, 8, 64, 1);
  background-color: rgba(255, 252, 229, 1);
}
table.system-status-report tr.error {
  color: rgba(140, 46, 11, 1);
  background-color: rgba(254, 245, 241, 1);
}
html.js fieldset.collapsed {
  height: auto;
}

div.geshifilter ol {
	padding: 0 0 0 2.7em;
}
